# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GoWorkshop\academy-go-q12021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
./.idea